@keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    70% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  } 

  @keyframes rotate {  
    from { 
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); 
    } 

    to { 
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }  
  } 