/* ----------------------------------
    Blog Section Styles
------------------------------------ */
.blog_wrapper{
    position: relative;
    background: #F9FAFF;
}
.single_blog{
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(20px 24px 60px rgba(0, 0, 0, 0.04));
    background: #FFFFFF;
    border-radius: 20px;
    .blog_img{
        position: relative;
        border: 3px solid #FFFFFF;
        width: 100%;
        height: 282px;
        overflow: hidden;
        border-radius: 20px;
        &::after{
            transition: all 0.4s ease-in-out;
            border-radius: 20px;
            position: absolute;
            top: 0;
            content: "";
            background: rgba(203, 202, 202, 0.316);
            opacity: 0;
            visibility: hidden;
            width: 0%;
            height: 100%;
            right: 0;
        }
    }
    .content{
        padding: 25px;
        .date{
            a{
                color: $text !important;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                i{
                    margin-right: 10px;
                }
                &:hover{
                    color: rgb(119 136 255);
                }
            }
        }
        h4{
            margin-top: 15px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: $primary;
        }
        .btnd{
            font-family: $body-font;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
           
            i{
                @include transition(0.4s);
            }
            &:hover{
                i{
                    padding-left: 10px;
                }
            }
        }
    }
    &:hover{
        filter: none !important;
        .blog_img{
            &::after{
                opacity: 1;
                visibility: visible;
                left: 0;
                right: auto;
                width: 100%;
            }
        }
    }
}