/* ----------------------------------
	Footer Styles
 ------------------------------------ */
 .footer_wrapper{
	padding: 50px 0px;
	.social_link_footer{
		display: flex;
		gap: 18px;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 36px;
			height: 36px;
			background: #FFFFFF;
			border-radius: 500px;
			i{
				transition: all 0.4s ease-in-out;
			}
			&:nth-child(1){
				i{
					color: #007BFF;
				}
			}
			&:nth-child(2){
				i{
					color: #00ADEE;
				}
			}
			&:nth-child(3){
				i{
					color: #E60023;
				}
			}
			&:nth-child(4){
				i{
					color: #0072B1;
				}
			}
			&:hover{
				background-color:  #6E6DFF ;
				i{
					color: $white;
				}
			}
		}
	}

}
.single-footer-wid{
	h4{
		font-family: $body-font;
		margin-bottom: 25px;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
	}
	ul{
		>li{
			padding: 7px 0px;
			a{
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: $text;
				img{
					height: auto;
					width: 25px;
					object-fit: cover;
					margin-right: 15px;
				}
				&:hover{
					color:  #6E6DFF ;
				}
			}
		}
	}
	.newsletter_box  {      
		form {            
			height: 55px;
			display: flex; 
			position: relative;
			input {
				width: 100%;
				height: 55px;
				color: $text;
				font-size: 16px;
				line-height: 19px;
				border-radius: 2px;
				background: #FFFFFF;
				border-radius: 8px;
				padding: 20px 120px 20px 20px;

				&::placeholder {
					color: $text;
				}
			}

			button {
				border: 0;
				right: 9px;
				color: $white;
				position: absolute;
				display: inline-block;
				box-sizing: border-box;
				padding: 10px 12px;
				top: calc(50% - 21.5px);
				background-color: $primary;
				transition: all 0.4s ease-in-out;

				i {
					font-size: 21px;

					@media (max-width: 480px) {
						font-size: 13px;
						margin-left: 5px;
					}
				}

				&:hover {
					color: $white;
				}
			}
		}
	}
}