/* ----------------------------------
	Service Section Styles
 ------------------------------------ */

 .service_wrapper{
    background: #EEF2FE;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(../img/shape_bg.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
    }
 }
 .single_service_items{
    position: relative;
    z-index: 1;
    padding: 45px 30px;
    border-radius: 20px;
    &.item-1{
        background: linear-gradient(153.63deg, #BCDDFF 3.43%, #738CF6 90.47%);
    }
    &.item-2{
        background: linear-gradient(143.38deg, #FFCDA3 4.99%, #FD6C87 94.05%);
    }
    &.item-3{
        background: linear-gradient(153.63deg, #BBE897 3.43%, #08CD87 90.47%);
    }
    &.item-4{
        background: linear-gradient(142.74deg, #FDAEFF 12.69%, #9F85F2 89.9%);
    }
    &.item-5{
        background: linear-gradient(143.53deg, #8D7DFE 11.16%, #6FB9FF 94.07%);
    }
    &.item-6{
        background: linear-gradient(128.9deg, #F8C36D 4.15%, #F2A851 100%);
    }
    .icons{
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 500px;
        margin: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content{
        position: relative;
        z-index: 2;
        margin-top: 30px;
        h4{
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            color: #FFFFFF;
            margin-bottom: 25px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }
    .shape{
        z-index: 0;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
 }